* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companylogo img {
    height: 50px;
    width: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Adjust spacing between links */
}

.nav-links a:hover {
    border: solid rgb(0, 30, 255) 1px;
    background-color: rgb(0, 30, 255);
    border-radius: 10%;
    padding: 10px 20px;
}

#canvas1 {
    width: 99.9%;
    height: 500px;
    background: black;
    position: absolute;
    top: 75px;
    left: 0;
    opacity: 1;
}
.text1{
    color: #fff;
    position: absolute;
    top: 250px;
    left: 50px;
}
.image1 img{
    position: absolute;
    top: 120px;
    left: 700px;
    width: 50%;
}
.image2 img{
    position: absolute;
    top: 300px;
    left: 550px;
    width: 20%;
    position: relative;
}
.text2{
    font-size: 30px;
text-align: center;
margin-top: 350px;
}