/* Navbar.css */

/* Style for the modal content */
.modal-content {
    max-width: 90%;
    width: 400px;
    max-height: 80vh;
    border: 2px solid black;
    background-color: rgb(236, 236, 236);
    position: fixed; /* Set position to fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the modal */
    overflow-y: auto;
    padding: 20px;
  }
  
  .script-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .script-option {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 5%;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .form-check-input {
    margin-right: 10px;
  }
  
  button {
    width: 150px;
    margin: 10px;
  }
  
  .photo img {
    width: 100%;
    height: auto;
  }
  